# Operator Group for RH-ACM
- apiVersion: operators.coreos.com/v1
  kind: OperatorGroup
  metadata:
    name: open-cluster-management-group
    namespace: {{ acm_project_name }}
  spec:
    targetNamespaces:
    - {{ acm_project_name }}
    upgradeStrategy: Default

# Operator Subscription for RH-ACM
- apiVersion: operators.coreos.com/v1alpha1
  kind: Subscription
  metadata:
    name: acm-operator-subscription
    namespace: {{ acm_project_name }}
  spec:
    sourceNamespace: openshift-marketplace
    source: redhat-operators
    channel: release-{{ acm_operator_version }}
    installPlanApproval: Automatic
    name: advanced-cluster-management
