apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
  - name: rhsso-idp
    challenge: true
    login: true
    mappingMethod: claim
    type: OpenID
    openID:
      clientID: "openshift"
      clientSecret:
        name: keycloak-client-secret-openshift
{% if not trusted_router_certificates|bool %}
{% endif %}
      ca:
        name: kube-root-ca.crt
      extraAuthorizeParameters:
        include_granted_scopes: "true"
      issuer: https://keycloak-{{ rhsso_project_name }}.apps.{{ subdomain }}/auth/realms/{{ rhsso_realm_name }}
